{% extends "base_layout.html" %}

{% block content %}

<br />

<table celspacing="0" cellpadding="0" width="100%" id="issues">
{% for institution in institutions.object_list %}
<tr>
    <td class="issue-title" width="90%">
        <a href="/institutions/{{ institution.id }}">{{ institution.title }}</a>
    </td>
</tr>
{% endfor %}
</table>

<br />
<div class="pagination">
    <span class="step-links">
        {% if institutions.has_previous %}
            <a href="?page={{ institutions.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ institutions.number }} of {{ institutions.paginator.num_pages }}.
        </span>

        {% if institutions.has_next %}
            <a href="?page={{ institutions.next_page_number }}">Next</a>
        {% endif %}
    </span>
</div>


{% endblock %}

