* {
	margin : 0;
	outline : 0;
	padding : 0;
}

body {
	background : #ffffff url(resources/images/bg-top-x.jpg) repeat-x;
}

div.wrapper {
	margin : 0 auto 0 auto;
	padding : 0 20px 0 20px;
	width : 1000px;
}

div#top {
	background : url(resources/images/bg-top.jpg) no-repeat;
}
