* {
    margin : 0;
    outline : 0;
    padding : 0;
}

body {
    background : #ffffff url(resources/images/bg-top-x.jpg) repeat-x;
    color : #323232;
    font-family : 'Verdana', 'Geneva', sans-serif;
    font-size : 14px;
}

h1 {
    font-size : 26px;
}

h2 {
    font-size : 21px;
}

a {
    color : #969696;
    text-decoration : none;
}

a:hover {
    color : #000000;
}

div.wrapper {
    margin : 0 auto 0 auto;
    padding : 0 30px 0 30px;
    width : 940px;
}

div#top {
    background : url(resources/images/bg-top.jpg) 0 -1px no-repeat;
    min-height : 480px;
}

a#logo-top {
    display : block;
    float : left;
    height : 50px;
    margin : 25px 0 0 0;
    width : 200px;
}

/* Header */

div#header {
    height : 100px;
    width : 940px;
}

div#header-menu {
    background-color : #ffffff;
    border-radius : 5px 5px 5px 5px;
    box-shadow : rgba(0,0,0, 0.1) 0px 0px 5px;
    float : right;
    padding : 5px 0 5px 0;
    margin : 38px 0 0 0;

    -moz-border-radius : 5px 5px 5px 5px;
    -moz-box-shadow : rgba(0,0,0, 0.1) 0px 0px 5px;
    -webkit-box-shadow : rgba(0,0,0, 0.1) 0px 0px 5px;
}

div#header-menu a {
    color : #646464;
    margin : 0 5px 0 5px;
}

div#header-menu a:hover {
    color : #000000;
}

div.content {
    padding : 10px 0 10px 0;
}

div#view-issue-content {
    float : left;
    margin : 50px 0 50px 0;
    width : 450px;
}

/* Home elements */

div#floating-island {
    background : url(resources/images/floating-island.jpg) no-repeat;
    float : left;
    height : 400px;
    width : 640px;
}

div#updates {
    float : right;
    padding : 40px 0 0 0;
    text-align : center;
    width : 280px;
}

div.updates-block {
    background-color : #eeeeee;
    border : 1px solid #969696;
    border-radius : 5px 5px 5px 5px;
    box-shadow : rgba(0,0,0, 0.25) 0px 0px 8px;
    margin : 10px 0 0 0;
    padding : 10px 10px 10px 10px;
    text-shadow : 0 1px 0 #ffffff;

    -moz-border-radius : 5px 5px 5px 5px;
    -moz-box-shadow : rgba(0,0,0, 0.25) 0px 0px 5px;
    -webkit-box-shadow : rgba(0,0,0, 0.25) 0px 0px 5px;
}

div.updates-block b {
    font-size : 18px;
}

/* Maps */

div#map-add-issue, div#map-view-issue {
    border : 1px solid #eeeeee;
    border-radius : 5px 5px 5px 5px;
    height : 360px;
    margin : 50px 0 50px 0;
    padding : 10px 10px 10px 10px;
    width : 450px;
}

div#map-add-issue {
    float : left;
}

div#map-view-issue {
    float : right;
}

div#map-add-issue-container, div#map-view-issue-container {
    height : 360px;
    width : 450px;
}

/* Footer */

div#footer {
    background : url(resources/images/bg-bottom-x.jpg) repeat-x;
    color : #969696;
    height : 200px;
    width : 100%;
}

div#footer-top {
    height : 145px;
}

div#footer-top div.content {
    padding-top : 40px;
}

div#footer p {
    float : left;
    width : 680px;
}

div#footer-top-links {
    float : right;
    text-align : right;
    width : 240px;
}

div#footer-top-links a {
    display : block;
    line-height : 20px;
}

div#footer-bottom {
    line-height : 50px;
    height : 50px;
    margin : 5px 0 0 0;
}

div#footer a {
    color : #88da0e;
}

div#footer a:hover {
    color : #ffffff;
}

a#logo-footer {
    background : url(resources/images/logo-footer.jpg) no-repeat;
    display : block;
    float : right;
    height : 25px;
    margin : 13px 0 0 0;
    width : 100px;
}

.clear {
    clear : both;
}

/* New issue button */

a#add-new-issue-button {
    background-color : #88da0e;
    border : 1px solid #668822;
    border-radius : 5px 5px 5px 5px;
    color : #323232;
    display : inline-block;
    text-shadow : 0 1px 0 #ddffaa;
    font-size : 18px;
    font-weight : bold;
    line-height : 40px;
    padding : 0 10px 0 10px;
}

a#add-new-issue-button:hover {
    background-color : #99ea1e;
}

/* Forms */
form {
    border : 1px solid #eeeeee;
    border-radius : 5px 5px 5px 5px;
    margin : 50px auto 50px auto;
    padding : 20px 20px 20px 20px;
    width : 400px;
}

form h2 {
    margin : 0 0 10px 0;
}

form#add-issue {
    float : right;
    margin : 50px 0 50px 0;
}

input[type=text], input[type=password], textarea {
    border : 1px solid #eeeeee;
    border-radius : 5px 5px 5px 5px;
    color : #969696;
    display : block;
    font-size : 14px;
    margin : 10px 0 20px 0;
    padding : 5px 5px 5px 5px;
    width : 385px;
}

.notice {
    background-color : #ffeeee;
    border : 1px solid #ffaaaa;
    border-radius : 5px 5px 5px 5px;
    color : #ee4040;
    margin : 10px 0 10px 0;
    padding : 5px 5px 5px 5px;
}

.helptext {
    color : #969696;
    display : block;
    font-size : 12px;
    margin : 0 0 5px 0;
}

ul.errorlist {
    list-style-type : none;
}

ul.errorlist li {
    color : #ee4040;
    font-size : 12px;
    margin : 0 0 5px 0;
}

/* Issues table */
table#issues {
    border-collapse : collapse;
}

table#issues tr {
    background-color : #fafafa;
    text-shadow : 0 1px 0 #ffffff;
}

table#issues tr:hover {
    background-color : #ffffff;
}


table#issues td {
    border : 1px solid #eeeeee;
    padding : 10px;
}

td.issue-title a {
    font-size : 16px;
}

td.issue-title {
    font-size : 12px;
}

td.issue-user {
    text-align : center;
}

#attachments {
    width: 450px;
    padding: 10px;
    float: right;
}

#comments {
    width: 440px;
    float: left;
}

#comments form {
    width: auto !important;
    margin: 0px;
}

#issue-attachments {
    list-style: none;
}

#add-issue-attachment {
    margin: 0px;
    padding: .5em;
}

dl#comments dt {
    border : 1px solid #eeeeee;
    border-radius : 5px 5px 0 0;
    border-bottom : none;
    color : #969696;
    font-size : 12px;
    padding : 20px 20px 10px 20px;
    width : 400px;
    text-align : right;
}

dl#comments dd {
    border : 1px solid #eeeeee;
    border-radius : 0 0 5px 5px;
    border-top : none;
    padding : 0 20px 20px 20px;
    width : 400px;
    margin : 0 0 20px 0;
}
