{% extends "base_layout.html" %}

{% block content %}
<div id="floating-island">
    <!-- -->
</div><!-- #floating-island -->

<div id="updates">
    <h1>Updates</h1>

    <div class="updates-block">
        <b>{{ reported_issues }}</b>
        <br />
        <span>Reported Issues</span>
    </div><!-- .updates-block -->

    <div class="updates-block">
        <b>{{ fixed_issues }}</b>
        <br />
        <span>Fixed Issues</span>
    </div><!-- .updates-block -->

    <div class="updates-block">
        <b>{{ updates_on_reports }}</b>
        <br />
        <span>Updates on reports</span>
    </div><!-- .updates-block -->
</div><!-- #updates -->

<div class="clear">
    <!-- -->
</div><!-- #clear -->
{% endblock %}
