{% extends "base_layout.html" %}

{% block content %}

<div id="map-add-issue">
    <div id="map-add-issue-container">
        <!-- -->
    </div><!-- #map-add-issue-container -->

    <script type="text/javascript" src="http://api.maps.yahoo.com/ajaxymap?v=3.8&appid=A89ep3fV34E7xmR7phcrGoALC_7by21vdTDllAAXHkWIT6ON_iQJbI6LOCndWbN0"></script>

    <script type="text/javascript">  
        var map = new YMap(document.getElementById('map-add-issue-container'));

        function startMap() {
            map.addTypeControl();
            map.addZoomLong();
            map.addPanControl();
            map.setMapType(YAHOO_MAP_HYB);
            map.drawZoomAndCenter("Romania", 12);

            YEvent.Capture(map, EventsList.MouseClick, reportPosition);

            function reportPosition(_e, _c) {
                var mapCoordCenter = map.convertLatLonXY(map.getCenterLatLon());
                var currentGeoPoint = new YGeoPoint(_c.Lat, _c.Lon);

                map.removeMarkersAll();
                map.addMarker(currentGeoPoint);
                document.getElementById('id_latitude').value=_c.Lat;
                document.getElementById('id_longitude').value=_c.Lon;
            }
        }

        window.onload = startMap;
    </script>
</div><!-- #map-add-issue- -->

<form id="add-issue" method="post" action="/issues/">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Create Issue" />
</form>

<div class="clear">
    <!-- -->
</div><!-- .clear -->
{% endblock %}
