{% extends "base_layout.html" %}

{% load comments %}

{% block title %}CitizenTalk - {{ issue.title }}{% endblock %}

{% block content %}
{% get_comment_count for issue as comment_count %}

<div id="view-issue-content">
    <h1>{{ issue.title }}</h1>
    <small>reported by  {{ issue.reporter }} on  {{ issue.created_at }}</small>

    <br /><br />
    <p>{{ issue.description }}</p>

    <br /><br />

    <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="citizentalk">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>

    <br /><br />
    Institutions in charge:<br />
    {% for inst in institutions %}
        <b><a href="/institutions/{{ inst.id }}">{{ inst }}</a></b>
    {% endfor %}
</div><!-- #view-issue-content -->

<div id="map-view-issue">
    <div id="map-view-issue-container">
        <!-- -->
    </div><!-- #map-view-issue-container -->

<script type="text/javascript" src="http://api.maps.yahoo.com/ajaxymap?v=3.8&appid=A89ep3fV34E7xmR7phcrGoALC_7by21vdTDllAAXHkWIT6ON_iQJbI6LOCndWbN0"></script>

<script type="text/javascript">  
    var map = new YMap(document.getElementById('map-view-issue-container'));
    var currentGeoPoint = new YGeoPoint({{ issue.latitude }}, {{ issue.longitude }});

    map.addTypeControl();
    map.addZoomLong();
    map.addPanControl();
    map.setMapType(YAHOO_MAP_HYB);
    map.drawZoomAndCenter(currentGeoPoint, 3);
    map.addMarker(currentGeoPoint);
</script>
</div><!-- map-view-issue -->

<div class="clear">
    <!-- -->
</div><!-- .clear -->

<div id="attachments">
    {% if user.is_authenticated %}
    <form id="add-issue-attachment" action="/issues/view/{{ issue.id }}/attachments" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <br />
        <input type="submit" value="Attach file" />
    </form>
    {% endif %}

    <ul id="issue-attachments">
        {% for attachment in issue_attachments %}
            <li>
                <a href="/media/{{ attachment.file.url }}">
                    <img src="/media/{{ attachment.file.url }}" title="{{ attachment.title }}" alt="{{ attachment.title }}"/>
                </a>
            </li>
        {% empty %}
        This issue has no attachments.
        {% endfor %}
    </ul>
</div>

    {% render_comment_list for issue %}

<div class="clear">
    <!-- -->
</div><!-- .clear -->

{% if user.is_authenticated %}
<div id="comments" style="margin-bottom : 50px;">
    <form method="post" action="/issues/comment/new/">
        {% csrf_token %}
        <input type="hidden" name="issue_id" value="{{ issue.id }}" />
        <textarea name="content" style="width: 385px" rows="5"></textarea>
        <input type="submit" value="Post Comment" />
    </form>
</div>
{% endif %}

<div class="clear">
    <!-- -->
</div><!-- .clear -->

{% endblock %}
