{% extends "base_layout.html" %}

{% block content %}
<div id="view-issue-content">
    <h1>{{ issue.title }}</h1>

    <p>{{ issue.description }}</p>

    <br /><br />
    Reporter: {{ issue.reporter }}

    <br /><br />
    Add status changing buttons and voting button.
    <br /><br />
    Maybe buttons for sharing on the main social networks.
    <br /><br />
    List of 5 institutions in charge sorted by the number of common tags.<br /><br />
    {% for inst in institutions %}
        <b><a href="/institutions/{{ inst.id }}">{{ inst }}</a></b>
    {% endfor %}
</div><!-- #view-issue-content -->

    <div id="map-view-issue">
        <div id="map-view-issue-container">
            <!-- -->
        </div><!-- #map-view-issue-container -->

    <script type="text/javascript" src="http://api.maps.yahoo.com/ajaxymap?v=3.8&appid=A89ep3fV34E7xmR7phcrGoALC_7by21vdTDllAAXHkWIT6ON_iQJbI6LOCndWbN0"></script>

    <script type="text/javascript">  
        var map = new YMap(document.getElementById('map-view-issue-container'));
        var currentGeoPoint = new YGeoPoint({{ issue.latitude }}, {{ issue.longitude }});

        map.addTypeControl();
        map.addZoomLong();
        map.addPanControl();
        map.setMapType(YAHOO_MAP_HYB);
        map.drawZoomAndCenter(currentGeoPoint, 3);
        map.addMarker(currentGeoPoint);
    </script>
    </div><!-- map-view-issue -->

    <div class="clear">
        <!-- -->
    </div><!-- .clear -->

    <hr style="margin-top: 50px;" />
    Here should be comments! 
    <br /><br /><br />
{% endblock %}
